<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/titanic.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> The Titanic Disaster: Predicting Passenger Survival </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This project is the "Hello World" of data science. It is a introductory Kaggle competition that provides each contestant with two files: train.csv and test.csv. The only instructin is to predict the 'Survived' feature for each individual PassengerID. Your predicitons are graded based on accuracy.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
